<div class='ui top attached segment'>
  <h2 class='header'>About Us</h2>

  <p>
    XIVRP.guide hopes to be your one-stop shop for all things RP in Final Fantasy 14.
    We're still very new and lacking many features of other, similar tools, but
    we're confident that, with your feedback, we can make the best space for
    Final Fantasy 14 roleplay tools and services.
  </p>

  <p>
    A small selection of some of the features we have in mind:

    <ul>
      <li>Provide feedback on event/venue information accuracy.</li>
      <li>Link your user account with your 14 characters and provide RP details.</li>
      <li>In-game plugin for accessing website features.</li>
    </ul>
  </p>
</div>

<div class='ui bottom attached segment'>
  <h3 class='header'>Contact Us</h3>

  <p>
    To contact us, you can
    <%= mail_to('admin@xivrp.guide', 'send us an email', encode: :hex, subject: 'XIVRP.guide feedback') %> or check us out on <a href='https://github.com/chall8908/xivrp-guide' target='_blank'>GitHub</a>.
  </p>
</div>
