<div class='ui segment'>
  <h2 class='header'>Privacy Policy</h2>

  <p>Last updated: April 25, 2021</p>

  <p>
    This document outlines how XIVRP Guide (the Service) interacts with information
    about you when you use the Service.
  </p>

  <h3 class='header'>General Usage</h3>

  <p>
    In your general interactions with the Service, we will collect some information
    necessary or incidental to the request (such as your device's IP Address).
  </p>

  <p>
    This information is used <i>only</i> to facilitate the request and is not
    stored after the request completes.
  </p>

  <h3 class="header">User Accounts</h3>

  <p>
    When creating an account - either directly or via Discord - we collect your
    email address.  This address is used to contact you for the purposes of setting
    up your account.  In order to facilitate adminstration, we may contact you
    directly using the email address associated with your account.
  </p>

  <p>
    When creating an account via Discord, we receive a unique identifer from
    Discord that identifies your account.  We store this information to identify
    your account on subsequent logins, but otherwise do not use this information.
  </p>

  <h3 class='header'>Event Information</h3>

  <p>
    Information you provide when creating an event is reproduced, in its entirety,
    when displaying the event.
  </p>
</div>
