<div class='ui segment'>
  <h2 class='header'>Terms of Service</h2>

  <p>Last updated: April 25, 2021</p>

  <p>
    To the extent allowable by law, the following plain-English Terms govern your
    use of XIVRP Guide (the Service).
  </p>

  <h3 class='header'>General Terms</h3>

  <p>
    You agree that your use of the site is voluntary and at the discretion of the
    Service owner.  Your access to the site can be terminated at any time for any
    reason.
  </p>

  <p>
    Failure to use this site in good faith or in a manner that is at odds with
    this agreement will result in the termination of your account, if any, and
    may result in additional action.
  </p>

  <h3 class='header'>User Accounts</h3>

  <p>
    User accounts are provided as a means to tie the information you place on the
    site back to you for the purposes of allowing you to modify that content.
  </p>

  <p>
    As part of account creation, the Service collects a minimal amount of
    information.  For more information on how we use this information, please see
    our <%= link_to 'Privacy Policy', privacy_policy_path %>.
  </p>

  <h3 class='header'>Posting Events</h3>

  <ol>
    <li>
      You agree to use the event posting functions of this site for their intended
      purpose: the advertisement of events inside Final Fantasy 14.
    </li>

    <li>
      You agree that any events you create using the Service are yours or you have
      permission from the event creator to post them here.
    </li>

    <li>
      You understand that any information included in an event is public and will
      be viewable by anyone with access to the Service.
    </li>

    <li>
      You agree not to use any unlawful or obscene information or images in your
      event.
      <br/>
      NOTE: This is not a prohibition of adult venues!  Keep it Safe for Work,
      please!
    </li>

    <li>
      You agree that, by uploading an image to use as a "banner" for your event,
      that you have permission to use and distribute said image and that you
      grant the Service the right to use and transmit that image to facilitate
      the display of your event.
    </li>
  </ol>
</div>
