body {
  background: #333;
}

a.logo {
  font-variant: small-caps;
}

select.tomselected[hidden] {
  display: none !important;
}

main.ui.container {
  padding-bottom: calc(40px + 1rem);
}

.floating.system.message {
  position: fixed;

  top: 30px;
  left: 50%;

  transform: translate(-50%, 0%);

  z-index: 999;
}

.ui.text.container .ui.segment {
  font-size: inherit;
}

.ui.footer.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.optgroup .optgroup-header {
  border-bottom: 1px solid rgba(0,0,0,0.1);

  font-weight: bold;
}
