<div class='ui grey inverted footer menu'>
  <span class='ui small text item'>
    XIVRP.guide is not affiliated with Square Enix Co., LTD. or its affiliates<br/>
    FINAL FANTASY XIV © 2010 - 2020 SQUARE ENIX CO., LTD. All Rights Reserved.
  </span>

  <div class='right menu'>
    <%= link_to 'About', about_path, class: 'item' %>
    <%= link_to 'Terms of Service', terms_of_service_path, class: 'item' %>
    <%= link_to 'Privacy Policy', privacy_policy_path, class: 'item' %>
  </div>
</div>
