<div class='ui item button'>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class='user icon'></i> Log Out
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class='user icon'></i> Log In
    <% end %>
  <% end %>
</div>
